:root{
    --current-background: url("../img/01.webp");

    --blue: blue
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{max-width: 100%;}

body{
    background-color:darkblue;
}

.wrapper{
    height: 90vh;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.wrapper>*{
    
}

#imgContainer>img{
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-width: 100%;
    min-height:100%;
}

.hidden{
    display: none;
}