:root{
    --current-background: url("../img/01.webp");

    --blue: blue
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{max-width: 100%;}

.wrapper{
    overflow: hidden;
    width: 100vw;
}

.current-background{
    background-color: #fefff1;
    background-position: center center;
    background-repeat:no-repeat;
    background-color: var(--ps-blue);
    overflow-y: hidden;
    background-image: var(--current-background);
    height: 100vh;
}